<header>
    <div class="cabecera-container">
      <a class="d-flex align-items-center justify-content-start" [routerLink]="[ '/' ]">
        <img class="img-cabecera" src="/assets/logo/logo.png" alt="Logo de BeatDrop">
        <h1 class="nombre-cabecera ms-2">BeatDrop</h1>
      </a>
      <div class="mt-3 d-flex align-items-center justify-content-start">
        <a class="p-2 relaciones-cabecera" [routerLink]="[ '/albumes' ]">ÁLBUMES</a>
        <a class="p-2 relaciones-cabecera" [routerLink]="[ '/musicos' ]">MÚSICOS</a>
      </div>
    </div>
  </header>