<div class="home">
  <h1>Bienvenido a nuestra tienda en línea</h1>
  <p>Explora nuestros productos, registra eventos y gestiona bienes raíces.</p>
  <nav>
    <a routerLink="/products" class="btn btn-primary">Ver Productos</a>
    <a routerLink="/event-form" class="btn btn-secondary">Registrar Evento</a>
    <a routerLink="/real-estate" class="btn btn-info">Bienes Raíces</a>
    <a routerLink="/employee" class="btn btn-info">Empleados</a>
    <a routerLink="/login" class="btn btn-info">Login</a>
  </nav>
</div>