/* Estilos para las tarjetas de los músicos */
.musicos-card {
    background-color: white; 
    border-radius: 10px;
    padding: 20px;
    margin-left: 5px; 
    margin-bottom: 30px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5); 
    transition: transform 0.3s, box-shadow 0.3s; 
  }

  h1{
    color: white;
  }
  
  /* Efecto hover para la tarjeta de los músicos */
  .musicos-card:hover {
    transform: translateY(-5px); 
    box-shadow: 0 8px 25px #fb2484; 
  }
  
  /* Estilos para el título dentro del contenedor de músicos */
  .musicos-container h5 {
    font-family: 'Anton', sans-serif; 
    font-size: 1.8rem; 
    color: #14accc; 
  }
  
  /* Estilos para el párrafo dentro del contenedor de músicos */
  .musicos-container p {
    color: #2b2b2b; 
    font-size: 0.95rem; 
    margin-bottom: 10px; 
  }
  
  /* Estilos para la imagen dentro de las tarjetas de músicos */
  .card-img-top {
    width: 50%; 
    border-radius: 8px; 
    margin-top: 10px; 
    transition: transform 0.3s ease; 
  }
  
  /* Estilos para el formulario de los músicos */
  #musicos-form {
    background-color: #3b3b3b; 
    border-radius: 12px; 
    padding: 35px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.4); 
    color: #fff; 
    max-width: 600px;
    margin: 0 auto; 
  }
  
  /* Estilos para las etiquetas dentro del formulario */
  #musicos-form label {
    font-weight: bold; 
    color: #1174d4; 
    font-size: 1.1rem; 
    margin-bottom: 0px; 
  }
  
  /* Estilos para los campos de entrada (input) y selección (select) en el formulario */
  #musicos-form input,
  #musicos-form select {
    background-color: #fff; 
    color: #333; 
    border: 1px solid #757575; 
    border-radius: 8px; 
    padding: 12px; 
    font-size: 1rem; 
    width: 100%; 
    height: 100%;
    transition: all 0.3s ease-in-out;
  }
  
  /* Estilos para el botón dentro del formulario */
  #musicos-form button {
    background: linear-gradient(90deg, #1174d4, #53e2ff);
    color: #fff;
    border: none; 
    border-radius: 50px; 
    padding: 12px 24px;
    font-weight: bold;
    font-size: 1.1rem; 
    width: 100%; 
    transition: background 0.4s, transform 0.2s;
  }
  
  /* Efecto hover en el botón del formulario */
  #musicos-form button:hover {
    transform: scale(1.05);
    background: linear-gradient(90deg, #53e2ff, #1174d4); 
    cursor: pointer; 
  }
  
  /* Espacio inferior dentro del formulario para los elementos con clase .mb-3 */
  #musicos-form .mb-3 {
    margin-bottom: 25px;
  }
  
  /* Estilos adicionales para los campos de entrada y selección */
  #musicos-form input,
  #musicos-form select {
    font-size: 1.1rem; 
    padding: 14px; 
  }
  