

<div class="container">
    <h1>Músicos</h1>
    <a routerLink="/musicos/crear" class="btn btn-customM">Agregar Músico</a>
  
    <div class="musicos-container mt-5 d-flex flex-wrap justify-content-evenly">
      <div *ngFor="let musico of musicos" class="musico-card col-lg-3 col-md-4 col-sm-6">
          <!-- Imagen del músico -->
          <img [src]="musico.imagen_url" [alt]="musico.nombre" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">{{ musico.nombre }}</h5>
            <p><strong>Género:</strong> {{ musico.genero }}</p>
            <p><strong>Nacionalidad:</strong> {{ musico.nacionalidad }}</p>
            <p><strong>Año de Debut:</strong> {{ musico.anio_debut }}</p>
            <p><strong>Retirado:</strong> {{ musico.retirado ? 'Sí' : 'No' }}</p>
            <p><strong>Instrumentos:</strong> {{ musico.instrumentos.join(', ') }}</p>
            <p><strong>Premios:</strong> {{ musico.premios.length ? musico.premios.join(', ') : 'Ninguno' }}</p>
            <p><strong>Ubicación:</strong> {{ musico.ubicacion.ciudad }}, {{ musico.ubicacion.pais }}</p>
            <p><strong>Coordenadas:</strong> {{ musico.ubicacion.coordenadas.latitud }}, {{ musico.ubicacion.coordenadas.longitud }}</p>
  
            <!-- Botón de Editar -->
            <a [routerLink]="['/musicos/editar/', musico.id]" class="btn btn-customM mt-4">
              Editar
            </a>
            <a [routerLink]="['/musicos/eliminar', musico.id]" class="btn btn-customM mt-4">
              Eliminar
            </a>
          </div>
      </div>
    </div>
  </div>
  

<app-footer></app-footer>
