/* You can add global styles to this file, and also import other style files */
/* Estilo general del body: gradiente de fondo y texto blanco */
body {
    background: linear-gradient(135deg, #0f0f0f, #3b3b3b);
    color: #fff; 
    font-family: 'Montserrat', sans-serif; 
    margin: 0; 
    padding: 0; 
    overflow-x: hidden; 
  }
  
  /* Estilo para los títulos h1 y h5 con fuente personalizada */
  h1, h5 {
    font-family: 'Anton', sans-serif; 
  }
  
  /* Contenedor centralizado con padding */
  .container {
    text-align: center; 
    padding: 30px 20px;
  }
  
  /* Estilo para el logo con sombra y animación */
  .nombre-logo {
    font-size: 4rem;
    color: black;
    text-shadow: 0 0 10px #1174d4, 0 0 20px #1174d4; 
    padding-left: 0.5rem; 
  }
  
  /* Animación para el logo cuando pasa el cursor */
  .nombre-logo:hover {
    animation: glow 1s infinite alternate; 
    padding-left: 0.5rem;
  }
  
  /* Estilo de la imagen del logo */
  .img-logo {
    width: 70px; 
    padding-right: 0.5rem; 
  }
  
  /* Estilo para la clase 'lead' con texto blanco */
  .lead {
    color: white;
  }
