/* Estilo para el fondo del encabezado */
header {
    background: linear-gradient(135deg, #3c3b3f, #605c3c);
    color: #fff;
  }
  
  /* Botones principales */
  .btn-primary {
    background-color: #0056b3;
    border: none;
    transition: transform 0.2s ease-in-out;
  }
  
  .btn-primary:hover {
    transform: scale(1.05);
    background-color: #003f8a;
  }
  
  .btn-secondary {
    background-color: #6c757d;
    border: none;
    transition: transform 0.2s ease-in-out;
  }
  
  .btn-secondary:hover {
    transform: scale(1.05);
    background-color: #565e64;
  }
  
  /* Footer */
  footer {
    font-size: 0.9rem;
    background: #2c2c2c;
  }
  