<div class="product-list">
    <h2>Lista de Productos</h2>
    <div class="product-grid">
      <div *ngFor="let product of products" class="product-card">
        <h3>{{ product.name }}</h3>
        <p>{{ product.description }}</p>
        <p><strong>Precio:</strong> {{ product.price | currency }}</p>
        <a [routerLink]="['/products', product.id]" class="btn btn-primary">Ver Detalles</a>
        <button (click)="addToCart(product)" class="btn btn-success">Agregar al Carrito</button>
      </div>
    </div>
  </div>
  