<div class="bg-primary d-flex p-2 justify-content-around  align-middle">
    <a href="#" [routerLink]="[ '/' ]"
    routerLinkActive="active">
    <h2 class="text-light ">
        My Store
    </h2>
</a>
   
    
    <a href="#" [routerLink]="[ '/cart' ]"
    routerLinkActive="active"><button class="btn btn-light d-flex align-middle text-primary">
        <img style="height: 25px; width: 20px;" class="pt-1" src="assets/carritodelacompra.png" alt="Carrito">
        Checkout
    </button></a>
</div>