# Node.js dependencies
node_modules/

# Angular build output
dist/
tmp/
out-tsc/

# IDEs y editores
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Configuración del sistema operativo
.DS_Store
Thumbs.db

# Archivos de logs y depuración
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Configuración y archivos de entorno
.env
*.env.local
*.env.development
*.env.production
