<div class="container mt-4">
    <h2>Registrar una Propiedad</h2>
    <form [formGroup]="eventForm" (ngSubmit)="onSubmit()">
      <!-- Título -->
      <div class="mb-3">
        <label for="name" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="title" formControlName="name" required>
        <div *ngIf="eventForm.get('name')?.invalid && eventForm.get('name')?.touched" class="text-danger">
          El título es requerido.
        </div>
      </div>
  
      <!-- City -->
      <div class="mb-3">
        <label for="city" class="form-label">Ciudad</label>
        <input class="form-control" id="city" formControlName="city" required>
        <div *ngIf="eventForm.get('city')?.invalid && eventForm.get('city')?.touched" class="text-danger">
          La ciudad es requerida.
        </div>
      </div>
  
      <!-- state -->
      <div class="mb-3">
        <label for="state" class="form-label">Estado</label>
        <input class="form-control" id="state" formControlName="state" required maxlength="2">
        <div *ngIf="eventForm.get('state')?.invalid && eventForm.get('state')?.touched" class="text-danger">
          El estado es requerido.
        </div>
      </div>
  
      <!-- photo -->
      <div class="mb-3">
        <label for="photo" class="form-label">Foto</label>
        <input class="form-control" id="photo" formControlName="photo">
      </div>
  
      <!-- availableUnits -->
      <div class="mb-3">
        <label for="availableUnits" class="form-label">Unidades disponibles</label>
        <input type="text" class="form-control" id="availableUnits" formControlName="availableUnits" required>
        <div *ngIf="eventForm.get('availableUnits')?.invalid && eventForm.get('availableUnits')?.touched" class="text-danger">
          La unidades disponibles son requeridas.
        </div>
      </div>
  
      <!-- wifi -->
      <div class="mb-3">
        <label for="wifi" class="form-label">Unidades disponibles</label>
        <input type="checkbox" class="form-control" id="wifi" formControlName="wifi">
      </div>

       <!-- laundry -->
       <div class="mb-3">
        <label for="laundry" class="form-label">Unidades disponibles</label>
        <input type="checkbox" class="form-control" id="laundry" formControlName="laundry">
      </div>

      <div>
        <label for="security">security</label>
        <select id="security" formControlName="security" required>
          <option value="">Select a security option</option>
          <option value="alarma">Alarma</option>
          <option value="camara">camara</option>
          <option value="puertas reforzadas">puertas reforzadas</option>
          <option value="detectores de humo">detectores de humo</option>
        </select>
      </div>
      <!-- Botón de envío -->
      <button type="submit" class="btn btn-primary" [disabled]="eventForm.invalid">Registrar Evento</button>
    </form>
  </div>
  