/* Estilo para las tarjetas de músicos */
.musico-card {
    background-color: white; 
    border-radius: 10px; 
    padding: 20px; 
    margin-bottom: 30px; 
    color: #2b2b2b;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5); 
    transition: transform 0.3s, box-shadow 0.3s; 
  }
  h1{
    color: white;
  }
  .musico-card:hover {
    transform: translateY(-5px); 
    box-shadow: 0 8px 25px #14accc; 
  }
  
  /* Estilo para las tarjetas de álbumes */
  .album-card {
    background-color: #3b3b3b; 
    border-radius: 8px; 
    padding: 15px; 
    margin-bottom: 20px; 
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2); 
  }
  
  /* Título de la tarjeta de álbum */
  .album-card h5 {
    font-family: 'Anton', sans-serif; 
    font-size: 1.4rem; 
    color: #fb2484; 
  }
  
  /* Descripción del álbum */
  .album-card p {
    color: #b3b3b3; 
    font-size: 0.9rem; 
  }
  
  /* Imagen del álbum */
  .album-card img {
    width: 35%; 
    border-radius: 8px; 
    margin-top: 10px; 
    transition: transform 0.3s ease; 
  }
  
  .album-card img:hover {
    transform: scale(1.05); 
  }