<div>
    <div class="mb-5">
        <button class="btn btn-info me-5" (click)="mostrarTodos()">TODOS</button>
        <button class="btn btn-primary me-3" (click)="mostrarLogs()">LOGS</button>
        <button class="btn btn-warning me-3" (click)="mostrarWarnings()">WARNINGS</button>
        <button class="btn btn-danger" (click)="mostrarErrores()">ERRORS</button>
    </div>
    <table class="table table-striped text-center align-middle" *ngIf="listaEventos.length > 0">
        <thead class="table-dark">
            <tr>
                <th>ID</th>
                <th>Asunto</th>
                <th>Descripción</th>
                <th>Cliente</th>
                <th>Empleado</th>
                <th>Fecha</th>
                <th>Categoría</th>
                <th>Fecha de creación</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let e of listaEventos">
                <td>{{e.id}}</td>
                <td>{{e.asunto}}</td>
                <td>{{e.descripcion}}</td>
                <td>{{e.cliente}}</td>
                <td>{{e.empleado}}</td>
                <td>{{e.fecha}}</td>
                <td>
                    <span class="btn btn-primary" *ngIf="e.categoria === 'log'">LOG</span>
                    <span class="btn btn-warning" *ngIf="e.categoria === 'warn'">WARNING</span>
                    <span class="btn btn-danger" *ngIf="e.categoria === 'error'">ERROR</span>
                </td>
                <td>{{e.horaCreacion}}</td>
                <td><button class="btn btn-danger border-dark" (click)="eliminarEvento(e.id)">Eliminar</button></td>
            </tr>
        </tbody>
    </table>
    <p class="text-center fs-5 fw-semibold" *ngIf="listaEventos.length === 0">No existen eventos todavía</p>
</div>