<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Employee Logger</a>
      <div class="navbar-nav">
        <div *ngFor="let emp of employees" class="nav-item">
          <button class="btn btn-outline-primary me-2" (click)="onEmployeeSelect(emp.id)">
            {{ emp.name }}
          </button>
        </div>
      </div>
      <div *ngIf="selectedEmployee" class="navbar-text">
        Selected Employee: <strong>{{ selectedEmployee.name }}</strong>
      </div>
    </div>
  </nav>