<div class="row">
    
    <h3><a href="#" [routerLink]="['/']" routerLinkActive="active" class="text-decoration-none text-dark">
        EXERCICES
    </a></h3>
    <hr>
    <a href="#" [routerLink]="['/ex01']" routerLinkActive="active" class="text-decoration-none text-dark">
        Exercise 1
    </a>
    <a href="#" [routerLink]="['/ex02']" routerLinkActive="active" class="text-decoration-none text-dark">
        Exercise 2
    </a>
    <a href="#" [routerLink]="['/ex03']" routerLinkActive="active" class="text-decoration-none text-dark">
        Exercise 3
    </a>
    <a href="#" [routerLink]="['/ex04']" routerLinkActive="active" class="text-decoration-none text-dark">
        Exercise 4
    </a>
    <a href="#" [routerLink]="['/ex05']" routerLinkActive="active" class="text-decoration-none text-dark">
        Exercise 5
    </a>
    <a href="#" [routerLink]="['/ex06']" routerLinkActive="active" class="text-decoration-none text-dark">
        Exercise 6
    </a>
    <a href="#" [routerLink]="['/ex07']" routerLinkActive="active" class="text-decoration-none text-dark">
        Exercise 7
    </a>
    <a href="#" [routerLink]="['/ex08']" routerLinkActive="active" class="text-decoration-none text-dark">
        Exercise 8
    </a>
    <a href="#" [routerLink]="['/ex09']" routerLinkActive="active" class="text-decoration-none text-dark">
        Exercise 9
    </a>
    <a href="#" [routerLink]="['/ex10']" routerLinkActive="active" class="text-decoration-none text-dark">
        Exercise 10
    </a>
</div>
