<div class="row">
    <a href="#" [routerLink]="['/']" routerLinkActive="active">
        EXERCICES
    </a>
    <br>
    <a href="#" [routerLink]="['/ex01']" routerLinkActive="active">
        Exercise 1
    </a>
    <a href="#" [routerLink]="['/ex02']" routerLinkActive="active">
        Exercise 2
    </a>
    <a href="#" [routerLink]="['/ex03']" routerLinkActive="active">
        Exercise 3
    </a>
    <a href="#" [routerLink]="['/ex04']" routerLinkActive="active">
        Exercise 4
    </a>
    <a href="#" [routerLink]="['/ex05']" routerLinkActive="active">
        Exercise 5
    </a>
    <a href="#" [routerLink]="['/ex06']" routerLinkActive="active">
        Exercise 6
    </a>
    <a href="#" [routerLink]="['/ex07']" routerLinkActive="active">
        Exercise 7
    </a>
    <a href="#" [routerLink]="['/ex08']" routerLinkActive="active">
        Exercise 8
    </a>
    <a href="#" [routerLink]="['/ex09']" routerLinkActive="active">
        Exercise 9
    </a>
    <a href="#" [routerLink]="['/ex10']" routerLinkActive="active">
        Exercise 10
    </a>
</div>
